NUXT_JWT_SECRET=
NUXT_AUTH_TOKEN_TTL_SECONDS=604800
NUXT_ALLOW_PUBLIC_REGISTER=false

NUXT_MAIL_FROM=hi@mohetios.dev
NUXT_MAIL_FROM_NAME=Mohetios.dev

NUXT_VAPID_PUBLIC_KEY=
NUXT_VAPID_PRIVATE_KEY=
NUXT_VAPID_SUBJECT=mailto:hi@mohetios.dev

NUXT_PUBLIC_TURNSTILE_SITE_KEY=
NUXT_TURNSTILE_SECRET_KEY=

NUXT_BASE_URL=
